.header{
    background: linear-gradient(cyan, white);
    height: 10vh;
    text-align: center;
}
.inicio{
    height: 80vh;
    text-align: center;
}
.footer{
    background: linear-gradient(white, cyan);
    height: 20vh;
    background-color: lightcyan;
}
/*Registro*/
/* Tabs*/
section {
    padding: 60px 0;
}
section .section-title {
    color: white;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#tabs{
	background: white;
    color: black;
}
#tabs h6.section-title{
    color: black;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: black;
    font-size: 20px;
}
/*404*/
* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  body {
    font-weight: 600;
    color: #343434;
  }
  .error_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(-225deg, white, #EBEBEB);
  }
  .error_section_subtitle {
    color: #25F193;
    text-transform: uppercase;
    letter-spacing: 5pt;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: -5em;
  }
  .error_section .error_title {
    font-size: 15rem;
    position: relative;
    padding: 2rem;
  }
  .error_section .error_title p {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.05), transparent);
    background-repeat: no-repeat;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.1s ease;
  }
  .btn {
    padding: 0.8em 1.5em;
    border-radius: 99999px;
    background-image: linear-gradient(to top, #03A9F4, #00BCD4);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2), inset 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    text-shadow: 0px 1px #343434;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-size: 0.8rem;
    font-weight: 700;
    transition: ease-out 0.2s all;
  }
  .btn:hover {
    text-shadow: 0px 1px 1px #ffffff;
    transform: translateY(-5px);
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1), inset 0px -3px 7px 0px rgba(0, 0, 0, 0.2);
    transition: ease-out 0.2s all;
  }