.header{
    background-color:red;
    height: 5vh;
    text-align: center;
}

.inicio{

    height: 80vh;
    text-align: center;
}
h2{
    display: flex;
    justify-content: center;
    color: orange;
    margin-top: 50px;
}
p{
    color: blueviolet;
}
.footer{
    height: 20vh;
    background-color: lightcyan;
}